<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'See bikes for sale', welcome_bike_path %>
<%= link_to 'See gear for sale', welcome_gear_path %>
<%= link_to 'See services', welcome_services_path %>
